sqlalchemy
inject
PIL
fpdf
pyPdf
asn1crypto==0.24.0
certifi==2022.12.7
cffi==1.11.5
chardet==3.0.4
configparser==3.5.0
cryptography==2.3.1
enum34==1.1.6
idna==2.7
pycparser==2.19
PyMySQL==0.9.2
requests==2.19.1
six==1.11.0
urllib3==1.23
vk==2.0.2
vk-api==11.1.0
